<div role= "index" class="container">
  <div class="row">
    <div class="col col-md-3">
      <div class="well thumbnail index-list">
        <%= image_tag("cookie.jpg", :alt => "Cookie") %>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="well thumbnail index-list">
        <%= image_tag("cookie.jpg", :alt => "Cookie") %>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="well thumbnail index-list">
        <%= image_tag("cookie.jpg", :alt => "Cookie") %>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="well thumbnail index-list">
        <%= image_tag("cookie.jpg", :alt => "Cookie") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-3">
      <div class="well thumbnail index-list">
        <%= image_tag("cookie.jpg", :alt => "Cookie") %>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="well thumbnail index-list">
        <%= image_tag("cookie.jpg", :alt => "Cookie") %>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="well thumbnail index-list">
        <%= image_tag("cookie.jpg", :alt => "Cookie") %>
      </div>
    </div>
    <div class="col col-md-3">
      <div class="well thumbnail index-list">
        <%= image_tag("cookie.jpg", :alt => "Cookie") %>
      </div>
    </div>
  </div>
</div>