<section class="section-min section product" id="products">
	<div class="container overflow-hidden">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-heading">Cookies</h3>
			</div>
			<div class="col-md-12">
				<div class="product-list-slider">
					<ul class="swiper-wrapper product-list product-list-vertical">
						<!-- SINGLE ITEM -->
						<li class="swiper-slide wow fadeInUp text-center" data-wow-delay=".2s"> 
							<span class="product-list-left pull-left">
								<a href="#" data-target="#product-01" data-toggle="modal">
									<%= image_tag("chocolate-chip.jpg", alt: "Chocolate Chip", class: "product-list-primary-img" ) %>
									<%= image_tag("chocolate-chip2.jpg", alt: "Chocolate Chip", class: "product-list-secondary-img" ) %>
								</a>
							</span> 

							<a href="#" data-target="#product-01" data-toggle="modal">
								<span class="product-list-right pull-left">
									<span class="product-list-name h3">Chocolate Chip</span>
									<span class="product-list-price">$10.00/dozen</span>
								</span>
							</a> 

							<button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="Chocolate Chip" data-cost="10.00" data-id="1" >
								<span class="ti-shopping-cart"></span>add to cart
							</button> 		
						</li>
						<!-- / SINGLE ITEM -->
						
						<!-- SINGLE ITEM -->
						<li class="swiper-slide wow fadeInUp text-center" data-wow-delay=".4s"> 
							<span class="product-list-left pull-left">
								<a href="#" data-target="#product-01" data-toggle="modal">
									<%= image_tag("chocolate-chip.jpg", alt: "PB & Dark Chocolate" , class: "product-list-primary-img" ) %>
									<%= image_tag("chocolate-chip2.jpg", alt: "PB & Dark Chocolate" , class: "product-list-secondary-img" ) %>
								</a>
							</span> 

							<a href="#" data-target="#product-01" data-toggle="modal">
								<span class="product-list-right pull-left">
									<span class="product-list-name h3">PB & Dark Chocolate</span>
									<span class="product-list-price">$10.00/dozen</span>
								</span>
							</a>

							<button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="PB & Dark Chocolate" data-cost="10.00" data-id="2" >
								<span class="ti-shopping-cart"></span>add to cart
							</button> 	
						</li>
						<!-- / SINGLE ITEM -->

						<!-- SINGLE ITEM -->
						<li class="swiper-slide wow fadeInUp text-center" data-wow-delay=".6s"> 
							<span class="product-list-left pull-left">
								<a href="#" data-target="#product-01" data-toggle="modal">
									<%= image_tag("chocolate-chip.jpg", alt: "A Lotta Chocolate", class: "product-list-primary-img" ) %>
									<%= image_tag("chocolate-chip2.jpg", alt: "A Lotta Chocolate", class: "product-list-secondary-img" ) %>
								</a>
							</span> 

							<a href="#" data-target="#product-01" data-toggle="modal">
								<span class="product-list-right pull-left">
									<span class="product-list-name h3">A Lotta Chocolate</span>
									<span class="product-list-price">$10.00/dozen</span>
								</span>
							</a> 

							<button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="A Lotta Chocolate" data-cost="10.00" data-id="3" >
								<span class="ti-shopping-cart"></span>add to cart
							</button> 		
						</li>
						<!-- / SINGLE ITEM -->
						
						<!-- SINGLE ITEM -->
						<li class="swiper-slide wow fadeInUp text-center" data-wow-delay=".8s"> 
							<span class="product-list-left pull-left">
								<a href="#" data-target="#product-01" data-toggle="modal">
									<%= image_tag("chocolate-chip.jpg", alt: "The Hawaiian", class: "product-list-primary-img" ) %>
									<%= image_tag("chocolate-chip2.jpg", alt: "The Hawaiian", class: "product-list-secondary-img" ) %>
								</a>
							</span> 

							<a href="#" data-target="#product-01" data-toggle="modal">
								<span class="product-list-right pull-left">
									<span class="product-list-name h3">The Hawaiian</span>
									<span class="product-list-price">$10.00/dozen</span>
								</span>
							</a>

							<button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="The Hawaiian" data-cost="10.00" data-id="4" >
								<span class="ti-shopping-cart"></span>add to cart
							</button> 	
						</li>
						<!-- / SINGLE ITEM -->

						<!-- SINGLE ITEM -->
						<li class="swiper-slide text-center"> 
							<span class="product-list-left pull-left">
								<a href="#" data-target="#product-01" data-toggle="modal">
									<%= image_tag("chocolate-chip.jpg", alt: "Nut n Honey", class: "product-list-primary-img" ) %>
									<%= image_tag("chocolate-chip2.jpg", alt: "Nut n Honey", class: "product-list-secondary-img" ) %>
								</a>
							</span> 

							<a href="#" data-target="#product-01" data-toggle="modal">
								<span class="product-list-right pull-left">
									<span class="product-list-name h3">Nut n Honey</span>
									<span class="product-list-price">$10.00/dozen</span>
								</span>
							</a> 

							<button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="Nut n Honey" data-cost="10.00" data-id="5" >
								<span class="ti-shopping-cart"></span>add to cart
							</button> 		
						</li>
						<!-- / SINGLE ITEM -->

						<!-- SINGLE ITEM -->
						<li class="swiper-slide text-center"> 
							<span class="product-list-left pull-left">
								<a href="#" data-target="#product-01" data-toggle="modal">
									<%= image_tag("chocolate-chip.jpg", alt: "Happy Birthday", class: "product-list-primary-img" ) %>
									<%= image_tag("chocolate-chip2.jpg", alt: "Happy Birthday", class: "product-list-secondary-img" ) %>
								</a>
							</span> 

							<a href="#" data-target="#product-01" data-toggle="modal">
								<span class="product-list-right pull-left">
									<span class="product-list-name h3">Happy Birthday</span>
									<span class="product-list-price">$10.00/dozen</span>
								</span>
							</a> 

							<button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="Happy Birthday" data-cost="10.00" data-id="6" >
								<span class="ti-shopping-cart"></span>add to cart
							</button> 		
						</li>
						<!-- / SINGLE ITEM -->
						
						<!-- SINGLE ITEM -->
						<li class="swiper-slide text-center"> 
							<span class="product-list-left pull-left">
								<a href="#" data-target="#product-01" data-toggle="modal">
									<%= image_tag("chocolate-chip.jpg", alt: "Orange Creamsicle", class: "product-list-primary-img" ) %>
									<%= image_tag("chocolate-chip2.jpg", alt: "Orange Creamsicle", class: "product-list-secondary-img" ) %>
								</a>
							</span> 

							<a href="#" data-target="#product-01" data-toggle="modal">
								<span class="product-list-right pull-left">
									<span class="product-list-name h3">Orange Creamsicle</span>
									<span class="product-list-price">$10.00/dozen</span>
								</span>
							</a>

							<button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="Orange Creamsicle" data-cost="10.00" data-id="7" >
								<span class="ti-shopping-cart"></span>add to cart
							</button> 	
						</li>
						<!-- / SINGLE ITEM -->
					</ul>

					<!-- CAROUSEL CONTROLS -->
					<div class="product-list-pagination text-center"></div>
					<div class="product-list-slider-next right-arrow-negative">
						<span class="ti-arrow-right"></span>
					</div>
					<div class="product-list-slider-prev left-arrow-negative">
						<span class="ti-arrow-left"></span>
					</div>
					<!-- CAROUSEL CONTROLS -->
				</div>
			</div>
		</div>
		<!-- PRODUCT MODAL -->
		<div class="modal fade product-modal" id="product-01" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				
				<!-- MODAL CONTENT -->
				<div class="modal-content shadow">
					<a class="close" data-dismiss="modal"> <span class="ti-close"></span></a>
					<div class="modal-body">
						<!-- Wrapper for slides -->
						<div class="carousel slide product-slide" id="product-carousel">
							<!-- CAROSUEL SLIDER -->
							<div class="carousel-inner cont-slider">
								<div class="item active"> 
									<%= image_tag("chocolate-chip.jpg", alt: "Chocolate Chip") %>
								</div>
								<div class="item"> 
									<%= image_tag("chocolate-chip.jpg", alt: "Chocolate Chip") %>
								</div>
								<div class="item"> 
									<%= image_tag("chocolate-chip.jpg", alt: "Chocolate Chip") %>
								</div>
								<div class="item"> 
									<%= image_tag("chocolate-chip.jpg", alt: "Chocolate Chip") %>
								</div>
							</div>
							<!-- / CAROSUEL SLIDER -->

							<!-- CAROUSEL INDICATORS -->
							<ol class="carousel-indicators">
								<li class="active" data-slide-to="0" data-target="#product-carousel"> 
									<%= image_tag("chocolate-chip.jpg", alt: "Chocolate Chip") %>
								</li>

								<li class="" data-slide-to="1" data-target="#product-carousel"> 
									<%= image_tag("chocolate-chip.jpg", alt: "Chocolate Chip") %>
								</li>

								<li class="" data-slide-to="2" data-target="#product-carousel"> 
									<%= image_tag("chocolate-chip.jpg", alt: "Chocolate Chip") %>
								</li>

								<li class="" data-slide-to="3" data-target="#product-carousel"> 
									<%= image_tag("chocolate-chip.jpg", alt: "Chocolate Chip") %>
								</li>
							</ol>
							<!-- / CAROUSEL INDICATORS -->
						</div>

						<!-- CHOCOLATE CHIP DESCRIPTION -->
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-push-2">
									<div class="row">
										<div class="col-md-12 product-modal-header">
											<h3 class="pull-left product-modal-title">Chocolate Chip</h3>
									
											<span class="product-action-section">
												<span class="price">$10.00/dozen</span>
												<button type="button" class="btn btn-default add-item" data-image="img/product3.png" data-name="Chocolate Chip" data-cost="10.00" data-id="8">
												<span class="ti-shopping-cart"></span>add to cart </button>
											</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-8 col-md-push-2 product-description">
									<h4 class="section-heading">Ut enim ad minim veniam</h4>
									<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>

									<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>

									<div class="product-tabs">
										<ul class="nav nav-tabs">
											<li class="active"><a data-toggle="tab" href="#tab1">Details</a></li>
											<li><a data-toggle="tab" href="#tab2">Info tab</a></li>
										</ul>

										<div class="tab-content">
											<div id="tab1" class="tab-pane fade in active">
												<h4 class="section-heading">details</h4>

												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</div>

											<div id="tab2" class="tab-pane fade">
												<h4 class="section-heading">Info tab</h4>

												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- / CHOCOLATE CHIP DESCRIPTION -->

					</div>
				</div>
				<!-- / MODAL CONTENT -->
			</div>
		</div>
	</div>
</section>