<!DOCTYPE html>
<html>

  <%= render '/partials/layout-head' %>

  <body data-offset="50" data-spy="scroll" data-target=".navbar" class="dark-theme">
    <%= render '/partials/layout-nav-bar' %>
    <%= render '/partials/layout-home' %>
    <%= render '/partials/layout-cart-widget' %>
    <%= yield %>
    <%= render '/partials/layout-about-section' %>
    <%= render '/partials/layout-contact' %>
    <%= render '/partials/layout-footer' %>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g"></script>
    <!-- Toastr Alert Message -->
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
             toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
  </body>
</html>
